.container {
margin: 3rem 0 50px 0;
}

.card {
margin: 0 2% !important;
font-weight: bold !important;;
}

.infected {
border-bottom: solid 10px blue !important;
background-color: #262626 !important;
color: whitesmoke !important;
font-weight: bold !important;;

}
.recovered {
border-bottom: solid 10px green !important;
background-color: #262626 !important;
color: whitesmoke !important;
font-weight: bold !important;;

}

.deaths {
border-bottom: solid 10px red !important;
background-color: #262626 !important;
color: whitesmoke !important;    
}



@media (max-width: 770px){
    .card {
        margin: 2% 0 !important;
    }

    .container {
        margin: 1rem;
        }
    
}
